
body {
  margin: 0 0;
  font-family: 'Libre Franklin', 'Quicksand', sans-serif;
  background-color: rgb(222, 222, 222);
}
h1, h2 {
  font-weight: bolder;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 15px;
}
p {
  font-size: 15px;
}
a:link, a:visited, a:hover, a:active {
  color: black;
}
#profile {
  #profilePicture {
    padding-left: 15px;
  }
  #profileTitle {
    padding-right: 15px;
  }
  background-color: rgba(250, 250, 250, 0.9);
  box-shadow: 0px 3px 8px -1px grey;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}
#profile> div {
  display: inline-block;
  margin: 20px 5px;
}
#profile h1 {
  margin: 0 0;
}
#profile h2 {
  margin: 0 0;
  font-weight: normal;
}
#profileTitle {
  text-align: right;
  vertical-align: top;
}
#profileTitle.full {
  top: 0;
  right: 0;
  position: fixed;
}
#profileTitle.small {
  top: 0;
  right: 0;
  position: fixed;
}
#content {
  margin-top: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
article {
  margin: 5px 10px;
  padding: 10px;
  background-color: rgb(249, 249, 249);
  box-shadow: 0px 2px 10px -1px grey;
  border-radius: 2px;
  flex: 1 1 100%;
  transition: width 0.7s ease-out;
}
p {
  margin-top: 2px;
  margin-bottom: 2px;
  font-style: normal;
}
section {
  + section {
    margin-bottom: 20px;
  }
  margin-top: 20px;
}
article> header h1 {
  margin: 5px 0;
  padding-bottom: 2px;
  width: 100%;
  border-bottom: thin solid;
  font-style: normal;
}
#profile {
  #profilePicture img {
    transition: all 0.4s ease-out;
    height: 70px;
    opacity: 0;
  }
  #profileInfo {
    p {
      font-size: 5px;
      transition: all 0.4s ease-out;
    }
    transition: all 0.4s ease-out;
    opacity: 0;
  }
  #profileTitle {
    .name {
      font-size: 45px;
    }
    .title {
      font-size: 25px;
    }
  }
  font-weight: 700;
  transition: height 0.4s ease-out;
  height: 140px;
}
#profile.full {
  #profilePicture img {
    height: 250px;
    opacity: 1;
    transition: all 0.4s ease-in;
  }
  #profileInfo {
    p {
      font-size: 20px;
      transition: all 0.4s ease-in;
    }
    opacity: 1;
    transition: all 0.4s ease-in;
  }
  height: 290px;
  transition: height 0.4s ease-in;
}
section h2 {
  margin: 2px 0;
  font-style: normal;
}
section h3 {
  margin: 2px 0 10px 0;
  font-style: normal;
  font-weight: normal;
}
.period-section {
  > div {
    position: relative;
  }
}
.period-content {
 // overflow: hidden;
}
.period-date {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2px 0;
  font-size: 25px;
  font-weight: 100;
}
ul {
  font-size: 15px;
  list-style: none;
  margin-top: 0px;
  padding-left: 5px;
}
li {
  padding-left: 26px;
  text-indent: -26px;
}
li:before {
  content: "-";
  padding-right: 10px;
}
.referenceItems {
  display: flex;
  flex-wrap: nowrap;
}
.referenceItem {
  * {
    font-size: 30px;
  }
  margin: 0 0;
  margin-right: 10px;
}
